nav {
    @include set-dimensions(100%, auto);
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  
  .source {
    background-color: $color-7;
  }
  .site {
    background-color: $color-8;
  }
  .faq {
    background-color: $color-9;
  }